/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {



    .card0 {
        font-size:11px;
    }

    .number1 a {
        font-size:20px;
        padding:0;
    }

    .number2 a {
        font-size: 14px;
        padding-right:21px;
        padding-top:0px;
    }

    .blue {
        margin-top: 7px;
        padding: 13px 50px;
        font-size: 13px;
    }

    .pack {
        padding: 26px 0 0 0;
    }

    .forma {
        padding: 0;
        margin-top: 19px;
    }

    widget widget_media_image{
        margin:0;
    }

    .textwidget {
        margin-top:0;
    }

    .col-lg-4 li {
        margin-bottom: 0px;
    }

    .textwidget h3 {
        text-align: left;
        font-size: 20px;
        margin: 0 0 12px;
        letter-spacing: 0.5px;
    }

    #custom_html-2 .wpcf7-validation-errors, #custom_html-2 .wpcf7-acceptance-missing {
        color: white;
        background: red;
        width: 100%;
        top: -4%;
        left: 0%;
        font-size: 16px;
    }

    #custom_html-2 .wpcf7-mail-sent-ok {
        position: absolute;
        top: 78%;
        left: 6%;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        background-color: #fbba42;
        width: 81%;
        font-size: 20px;
    }

    #custom_html-4 .wpcf7-validation-errors, #custom_html-4 .wpcf7-acceptance-missing {
        width: 83%;
        top: -6%;
    }

    #custom_html-4 .wpcf7-mail-sent-ok {
        width: 84%;
    }

    .wpcf7-submit, .submit{
        padding: 10px 15px 10px;
    }

    .zayavka{
        font-size: 18px;
        text-transform: uppercase;
        margin: 13px 0px;
    } 

    input {
        margin-bottom: 6px;
    }
    .message {
        margin: 6px 0 1px;
        height: 72px;
    }

    #getmail{
        width: 100%;
    }


    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        width: 94.6%;
    }

    div.wpcf7-mail-sent-ok {
         top: 6%;
    }

    .submit {
        margin-bottom: 0px;
    }

    .zagolovok3 {
        font-size: 20px;
        text-align:left;
        margin: 19px 0 6px;
    }

    .form-pad {
        width: 60%;
        margin-top: 19px;
    }

    .button-yellow {
        margin: 19px 0px;
    }
    
    .number1-footer a {
        font-size: 18px;
   
        text-align: left;
        display: inline;
    }

    .text-footer-nomargin {
        margin:0;
    }

    .padin-top {
        padding-top:0;
    }

    .fab {
        margin-right: 3px;
    }

    .zagolovok-min{
        font-size:22px;
    }
    .no-margin {
        margin-bottom:0;
        padding: 0 15px;

    }
    .big_text {
        font-size:14px;
    }
    .back a {
        font-size:16px;
    }
    .button.red{
        padding: 16px 41px;
        margin-top: 15px;
    }

    .card {
        margin-bottom: 0;
    }

    .hidden {
        font-size: 14px;
    }

    .fa-chevron-up {
        margin-left: 0;
    }

    .text {
        padding: 6px 23px 1px;
    }

    .forma2 {
        padding: 10px;
    }

    .forma2 input {
        margin-bottom: 10px;
    }
    .forma2.message {
        margin: 10px 0 10px;
        height: 72px;
    }

    .forma2 input::placeholder {
        font-size:13px;
    }

    .forma2 span.current {
        font-size:13px;
    }

    .forma2 textarea::placeholder {
        font-size:13px;
    }

    .forma2 .submit {
        font-size:14px;
    }

    .forma2 .message {
        margin: 10px 0 9px;
    }

    .forma2 h3 {

        font-size: 26px;
    }

    .h2.margin-top-0.margin-bottom-0 {
        font-size:23px;
    }

    h1 {
        font-size:35px;
    }

    form h3 {
        margin: 9px 0 13px;
    }

    .container {
        width:100%;
    }
    .footer-blackback {
        padding-bottom:3px;
    }
}



/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .flexnav {
        display: none;
    }

    .menu-button {
        padding-left:46px;
        margin: 13px 0;
        background-color: #52b2d7;
        font-size: 24px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .menu-button:hover{
        background-color: #51a1b4;
        color:white;
    }

    .image{
        margin-top:0;
        margin-bottom:0;
    }

    .flexnav > li:first-child a {
        border-radius: 5px 5px 0 0;
    }
    .flexnav > li:last-child a {
        border-radius: 0 0 5px 5px;
    }

    .forma {
        border-radius:5px;
    }

    .text {
            padding: 10px 15px 1px;
        }

    .text.pad-top a {
        font-size:16px;
    }

    .submenu {
        font-size: 14px;
    }



    .col-md-6 .col-lg-4{
        margin-top: 10px;
        padding-top:6px;
    }
    .pack {
        justify-content: space-between;
    }

    .card0 {
        font-size:14px;

    }

    .button.red {
        display:none;

    }

    .button.red.show {
        display: block;
        margin-top:12px;
        padding: 15px 0px;
        text-align: center;
    }
    .number1, .number2 {
        text-align: right;
    }
    .number1 {
        margin-top:10px;
    }

    .number2 a {
        padding-right:0;
        text-align: right;
    }

    .logo {
        width:98%;
    }

    .card {
        padding-left:10px;
        padding-right:10px;
    }

    .tick {
        margin-bottom: 20px;
    }

    .back a {
        font-size: 15px;
    }

    .form-pad {
        margin-right: 10px;
    }
    .hidden {
        display:none;
    }

    .column, .column4 {
        width:180px;

    }

    .column-padding, .column-padding2 {
        padding-left:0;
    }

    .main-li, .column li a {
        font-size: 12px;
        text-align: center;
    }

    .number1-footer {
        text-align: left;
        font-size: 18px;
    }

    .number2-footer {
        text-align:left;
    }

    .text-footer-nomargin {
        font-size: 14px;
    }

    .big_text {
        font-size: 13px;
    }

    .padin-top {
        margin-top: 7px;
    }
    .button.red.button-footer {
        display: block;
    }
    .blue {
        display:block;
    }

    .h2.margin-top-0.margin-bottom-0 {
        font-size: 21px;
    }

    .widget.widget_media_image{
        float:left;
        margin-top:10px;
    }

    .wp-image-113 {
        max-width:94% !important;
        height:auto;
    }

    #custom_html-2 {
        display:none;
    }

    .flexer {
        flex-direction: column;
    }

#getmail {
        margin-bottom: 10px;
    }

    .textwidget {
        margin-top: 10px;
        padding: 10px 29px 6px;
        background-color: #ffffff;
        box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
        border-radius: 5px;
    }
    .flex-boxing {
        flex-direction:row;
        justify-content:space-between;
    }
    .button.red {
        padding: 16px 22px;
        margin-top: 5px;
    }

    .footer-blackback {
        padding-bottom:2px;
    }

    .grid-container {
        grid-gap: 14px;
    }

    .footer-yellback {
        padding:0;
    }


}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .wp-image-113 {
        max-width: 90% !important;
        height:auto;
    }


    #custom_html-4 .wpcf7-validation-errors, #custom_html-4 .wpcf7-acceptance-missing {
        width: 95%;
        top: -6%;
    }

    #custom_html-4 .wpcf7-mail-sent-ok {
        width:96%;
        left:-1%
    }

    .textwidget {
        padding: 3px 9px 0px;
    }

    .widget_text.widget.widget_custom_html {
        padding: 0;
    }

    .footer-blackback {
        padding-bottom:3px;
    }

    .h2.margin-top-0.margin-bottom-0 {
        font-size: 19px;
    }

    .forma2 {
        width:55%;
        margin-left:10px;
        padding: 3px 22px 20px;
    }

    .forma2 h3 {

        font-size: 26px;
    }

    .margin-left-30 {
        margin-left: 0;
    }

    .number2 a {
           text-align: left;
    }

    .card0 {
        font-size: 17px;
    }

    .number1, .number2 {
        text-align:left;
    }

    .button.red {
        display:block;
        margin-top: 14px;
        text-align: center;
    }



    .button.red.show {
        display:none;
    }

    .smallMenu li {
        padding: 0 6px;
    }

    .grid-container {
        grid-gap: 10px;
    }


    .mrg-top {
        margin-top: 0;
    }

    .hidden {
        display:inline;
        font-size: 13px;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .column ul li {
        text-align: center;
        margin-right:0;
    }
    .column {
        width: 255px;
    }

    .column4 {
        width:220px;
    }

    .button.red.button-footer {
        float:left;
        display: block;
    }

    blockquote {
        padding-left:22px;
        padding-top: 59px;
    }

    blockquote::before {
        top: 22px;
        left: 22px;
        font-size: 28px;
    }

    .col-md-4 .col-lg-3 .align-self-center {
        margin-bottom:20px;
    }

    .h2.margin-top-0.margin-bottom-0 {
        font-size: 23px;
    }

    div.col-md-4.col-lg-3.align-self-center{
    margin-bottom: 20px;
    }

    h1 {
        font-size:28px;
        text-align: center;
    }


    h2 {
        font-size:24px;
    }

    h3 {
        font-size:20px;
    }



    .other ol li a {
        font-size:15px;
    }

    .zagolovok3 {
        font-size: 18px;
    }

    .number1 a {
        font-size: 23px;
    }

    .number2 a {
        font-size: 19px;
        text-align: center;
    }

    blockquote {
        font-size:16px;
        line-height: 1.5;
    }

    .flexer {
        flex-direction: row;
    }

    .form p .your-email {
        float:left;
    }

    #getmail{
        width: 93%;
    }

    #getsend {
        float:right;
    }

    .footer-yellback {
        height: 227px !important;
    }

    div.wpcf7-mail-sent-ok {
        left: -5%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        background:#f2f2f2;
    }

    input {
        margin-bottom: 15px;
    }

    .logo {
        width: 50%;
        margin-left:auto;
        margin-right:auto;
    }

    .card0 {
        margin-left:auto;
        margin-right:auto;
        width: 61%;
        font-size: 15px;
    }

    .number1, .number2 {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }



    .button.red {
        width:50%;
        margin-left:auto;
        margin-right:auto;
        font-size: 17px;
    }

    .menu-button {

            margin-left: auto;
            margin-right: auto;
 
    }

    .menu-button div {
        text-align: center;
    }

    .flex-colum {
        flex-direction: column;
    }

    .flex-colum li a {
        text-align: center;
        display:block;
        margin: 10px 0;
        border-bottom:0;
    }

    .gray {

        box-shadow: 2px 0px 2px 2px rgba(59, 63, 66, 0.2);
    }

    .column, .column4 {
        width:400px;
        margin-left:auto;
        margin-right:auto;
    }

    .text-footer {
        text-align:center;
    }

    .form-pad {
        width:100%;
        margin-right: 0px;
    }
    .container.flex-container {
        padding: 0 30px;
    }

    .button-yellow {
        width:100%;
    }

    #onTop {
        float:right;
    }

    .button.blue {
        width:50%;
    }


    .flex-container2 .control a {
        display: block;
        padding: 14px 18px;

    }

    .button.red.button-footer {
        display:none;
    }
    
    .text.pad-top a {
        font-size: 18px;
        line-height: 1.2em;
    }

    .control {
        padding: 20px 5px;
    }

    .submenu {
        font-size: 17px;
    }

    .footer-blackback {
        padding-bottom: 0px;
    }


    .mar {
        margin-right:5%;
    }

    .flex-boxing {
        flex-direction: column;
    }

    .ads {
        width:100%;
        margin-bottom:20px;
    }

    .forma2 {
        width:100%;
        margin-left: 0px;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    tbody tr th {
        display:none;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none!important;
        width: 100%!important; 
		position: relative;
		padding-left: 40%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 16px;
		left: 26px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Услуга"; }
    td:nth-of-type(2):before { content: "Сроки"; }
    td:nth-of-type(3):before { content: "Цена"; }


    .wp-caption.alignleft, .wp-caption.alignright {
        float: none;
        width:500px!important;
        max-width: 100%;
        margin: 0;
    }



    .side-ef{
        display: none;
    }

    .other {
        width:100%;
    }

    figure {
        width:100%;
    }

    .align-right, .align-left {
        float:none;
        max-width:100%;
        margin-left:0;
    }

    .widget.widget_media_image {
        display:none;
    }

    .widget_custom_html {
        float: right;
        margin-top: 0;
        width: 100%;
    }

    .wpcf7-form-control {
        margin-bottom:15px;
    }
    .message {
        margin-top:0;
    }

    .white-popup.mfp-with-anim{
        height: 444px;
    }

    #custom_html-4 .wpcf7-validation-errors, #custom_html-4 .wpcf7-acceptance-missing {
        width: 95%;
        top: -4%;
    }

    #custom_html-4 .wpcf7-mail-sent-ok {
        font-size: 20px;
    }

    .column .widgettitle {

        text-align: center;
    }


}

@media (max-width: 390.98px) {

    #custom_html-4 .wpcf7-validation-errors, #custom_html-4 .wpcf7-acceptance-missing {
        width: 94%;
        top: -4%;
        font-size:16px;
    }

    #custom_html-4 .wpcf7-mail-sent-ok {
        font-size: 17px;
        width: 96%;
    }

    .big_text-white {
        margin-bottom: 0px;

    }

    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        width: 90%;
        top: 91%;
    }

    div.wpcf7-mail-sent-ok {
        left: -8%;
    }
}

@media (max-width: 330.98px) {

    #custom_html-4 .wpcf7-validation-errors, #custom_html-4 .wpcf7-acceptance-missing {
        width: 93%;
        top: -4%;
        font-size:15px;
    }

    #custom_html-4 .wpcf7-mail-sent-ok {
        font-size: 16px;
        width: 95%;

    }

    .big_text-white {
        margin-bottom: 0px;

    }

    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        width: 90%;
        top: 91%;
    }

    div.wpcf7-mail-sent-ok {
        left: -8%;
    }
}