
html, body, div, span, applet, object, iframe,
h1, h2, h3, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
    vertical-align: baseline;
    text-align: left;
    
}




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

blockquote, q {
	quotes: none;
    padding-bottom: 1px;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    margin-bottom:28px;
}

:root {
    --main-bg-color: #f2f2f2;
    --yellow-color: #fbba42;
    --bloody: #F24C27;
    --our-blue:#52b2d7;
}



h1 {
    font-size: 36px;
    text-align:left;
    margin-top:15px;
    margin-bottom:25px;
}

.h1 {
    font-size: 36px;
    text-align:left;
    margin-top:15px;
    margin-bottom:23px;
}

h2, .h2 {
    font-size:30px;
    text-align:left;

    margin-bottom:20px;
}

h3, .h3 {
    font-size:24px;
    text-align:left;
    margin-top: 36px;
    margin-bottom:15px;
}

.flex-boxing{
    display: flex;
    flex-direction:column;
}

input, textarea, select, button {
    width:100%;
    font: 400 15px Roboto;
    padding: 10px 21px;
    margin-bottom: 15px;
    border-radius: 5px;
    border:1px solid #dddddd;

}

button {
    border:none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #3b3f42;
}

select {
    padding: 9px 16px;
}

.header-bottom {
    margin-top:19px;
}

body {
    font-family: "Roboto", "FontAwesome", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    font-weight: 400;
    color: #3b3f42;

}


::placeholder {
    color:  #3b3f42;
}

p {
    margin-bottom: 24px;
    font-weight: lighter;
    line-height: 1.5em;
}

a {
    text-decoration:underline;
    color: #52b2d7;
    font-size: 16px;
}

a:hover {
    color: #51a1b4;
    text-decoration:none;
}
a:focus {
    color: white;
}
a, input, button {
    transition: all 1s ease-in-out;
}




th {
    background-color: var(--main-bg-color);
    padding:13px 24px;
    font-weight: normal;
}
td {
    padding:12px 23px;
}

img {
    width:100%;
    height: auto;

}


blockquote {
    background-color: var(--main-bg-color);
    padding: 22px;
    position: relative;
    font-weight: lighter;
    padding-left: 121px;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 22px;
    margin-top: 21px;
    border-radius: 5px;
    padding-bottom: 1px;
}

blockquote::before {
    content: '\f10e';
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    top: 27px;
    left: 38px;
    display: block;
    font-size: 45px;
    color:var(--yellow-color);
    font-weight: 900;

}


.flex-boxing ul {
    padding-left:0;
    margin-top: 17px;
}

.container {
    text-align: center;
    margin-bottom: 16px;
}

.logo img {
    width:102%;
    height: auto;  
}

.menu-control {
     display: flex;
    justify-content: center;
}




.cont1 {
    text-align: center;
    margin-top:6px;
    margin-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-flow: row wrap;
}

.cont1>* {
    flex-grow: 1;
}



.pack {
    padding: 9px 0 0 0;
    display: flex;
}

.logo {
    margin-top: 5px;
}


.card0 {
    padding: 14px 20px 10px 32px;

    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    line-height: 1.35;
    font-size:15px;
    border-radius: 0px 0px 10px 10px;
    margin-left:30px;
    text-align:left;

}

card {
    padding: 0 20px;
    margin-top:10px;
    margin-bottom: 20px;
}

.changing-pad {
    padding:0px;

}

.changing-padb{
    padding:0px;
    margin-bottom:3px;
}



.back {
    padding: 0;
    margin-bottom:31px;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    line-height: 1.35;
    font-size:15px;
    border-radius: 5px;
    text-align:left;
    background-color:#ffffff;
    overflow: hidden;
    position:relative;
}

.back a {
    display: block;
    overflow: hidden;
    line-height: 1.2em;
    font-size: 18px;
}

.back a:hover {
    /* filter: brightness(50%); */
    text-decoration: underline;
}

.back img {

    max-width: 100%;
    display: block;
    transition: all 0.3s;
    }

.back a:hover img, .back a:focus img {
    opacity: 0.5;
    cursor:pointer;
    transform: scale(1.1); 
}

.ads {
    margin-top: 49px;
    overflow: hidden;
}

.ads a {
    overflow: hidden;
}

.ads img {
    max-width: 100%;
    display: block;
    transition: all 0.3s;
}

.ads a:hover img {
    opacity:0.5;
    cursor:pointer;
    transform:scale(1.1);
}

.back a:hover {
    /* filter: brightness(50%); */
    text-decoration: underline;
}

.text {
    padding: 17px 29px 1px;
    line-height: 1.7;
}

.text p {
    line-height: 2.2em;
}

.text p.pad2 {
    line-height: 1.2em;
}

.text .fa {
    color:#56b9d0;
}



.text a {
    color:#56b9d0;
}



.pad-top {
    line-height: 1.3;
    padding-top: 15px;
    font-weight: 300;
}

.pad2 {
    padding:7px 0 1px;
    margin-bottom: 2px;

}

.submenu {
    font-size: 15px;
    margin-bottom: 17px;

}

.submenu.pad2{
    margin-bottom: 1px;
}


.for-marg .back {
    margin-bottom:29px;
}

li {
    font-weight: lighter;
    position: relative;
    margin-bottom: 25px;
}


.mini {
    font-size: 13px;
    padding-bottom:13px;
    margin-bottom: 12px;
}


.change {
    margin-bottom: 22px;
}


.telephone {
    padding-top:10px;
}

.margin-top-15 {
    margin-top:5px;
}

.margin-left-30 {
    margin-left:30px;
}

.margin-top-30 {
    margin-top:30px;
}

.number1 {
    text-align: center;
}

.number1 a{
    font-size: 28px;
    font-weight: bold;
    color:black;
     line-height: 1.1;
    padding-left: 0px;
    text-decoration: none;
    display:inline-block;
}

.pad-left a {
    padding-left:5px;
}

.number2 {
    margin-top:2px;
    text-align: center;
}

.number2 a{
    display: inline-block;
    font-size: 18px;
    padding-top: 3px;
    padding-right: 40px;
    letter-spacing: 0.1px;
    color: #52b2d7;
    text-decoration: underline;
    font-weight: 300;
    text-align: center;
 
}

.number2 a:hover {
    text-decoration: none;
}


.number2-footer {
    padding-right:0;
    text-align: left;
    margin-left:10px;
}

.number2-footer a {
    text-align: left;
}

.button {
    margin-top: 30px;
    padding: 16px 71px;
    
    border-radius: 5px;
    font-weight: bold;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    font-size: 15px;
}

.blue {
    display:none;
}


.red {
    margin-top: 22px;
    background-color: red;
}

.aqua {
    background-color:#56b9d0;
    border:none;
    margin-top: 2px;
}

.aqua:hover {
    background-color: red;
    color:white;
}


.red:hover {background: #fbba42; color: white;}

h1 .h1 {
    font-size:36px;
}



.zagolovok {
    font-size: 36px;
    text-align: center;
    margin:27px 0 9px;

}

.zagolovok4 {
    font-size: 36px;
    margin-bottom: 5px;
    text-align: center;
}

.mrg-top {
    margin-top: 30px;
}



.c-m-b {
    margin-bottom:0px;
}

.flex-button {
    display: flex;
    justify-content: center;
}

.mrg-top2 {
    margin-top: 67px;
}

.mrg-top3 {
    margin-top: 36px;

}

.mrg-btm {
    margin-bottom:70px;
}

.margin-bottom-22 {
    margin-bottom:22px;
}

.ind {
    padding-top:18px;
}

.mrg-btm2 {
    padding-top:10px;
    margin-bottom:20px;
}

.mrg-btm3{
    margin-bottom:50px;
}
.btn-pad {
    padding-left: 98px;
    padding-right: 98px;
}
.flexnav {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    justify-content: space-around;
    padding-bottom:0;

    font-size: 10px;
}

.flexnav li {
    flex-grow: 1;
    margin:auto;
}

.flexnav > li:first-child a {
    border-radius: 5px 0 0 5px;
}

.flexnav > li:last-child a {
    border-radius: 0 5px 5px 0;
}

.flexnav li a {
    display: block !important;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    color:white;
    flex-grow: 1;
    background-color: #56b9d0;
    padding: 13px 0;

}

 .show {
     display:none;
 }

.flexnav li a:hover {
    background-color: #51a1b4;
    color:white;
    transition: 0.5s ease-in-out;
}

.lg-screen {
    margin-bottom:1px;
}

.image {
    margin: 19px 0px 12px;
}

#forma a:focus {
    color:white;
}

.forma {
    background-color: #ffffff;
    border-radius:5px;
    margin-top: 19px;
}

.forma.col-12 {
    box-shadow: none;
}

.forma ul {
    padding-left: 0px;
}

.forma li:before{
    display: none;
}

.forma .textwidget {
    box-shadow:none;
}

.textwidget {
    margin-top: 0px;
    padding: 10px 29px 6px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    border-radius:5px;
}

.forma ul li {
    margin-bottom: 0px;
}

.textwidget h3 {
    text-align: left;
    font-size: 29px;
    margin: 14px 0 17px;
    letter-spacing: 0.5px;

}

.message {
    margin: 14px 0;
    height:80px;
}

.wpcf7-submit, .submit {
    margin-bottom: 3px;
    background-color: #fbba42;
    padding: 15px 15px 16px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
}

.wpcf7-submit:hover {
    background-color: red;
    border-radius: 5px;
    cursor:pointer;
}



form h3 {
    text-align: left;
    font-size:30px;
    margin: 14px 0 16px;

    font-weight:bold;
}


.nice-select .option {
    cursor: pointer;
    font-size:15px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 22px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.smallMenu {
    list-style-type: none;
    margin-bottom: 14px;
    margin-top: 5px;
    line-height: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.smallMenu-w {
    margin-bottom:12px;
}


.smallMenu li{

    text-align:center;
    padding: 0 15px;
    margin-bottom: 9px;
}

.smallMenu li a {
    color:#56b9d0;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1px;
    text-decoration: none;
    border-bottom: 1px dashed #56b9d0;
}

.smallMenu li::before {
    display:none;
}

.smallMenu li a:hover, .smallMenu li a:active, .smallMenu li a:focus, .smallMenu li a.active {
    border-bottom: 0;
    color:black;
}

li.btn.is-checked {
    color:black;
    text-decoration: none;
}


.tab a .active {
    color:red;
}

.grayback {
    background:#f2f2f2;
    margin:0px;

}

.gray {
    background:#f2f2f2;
    padding: 11px 30px 19px;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
}

.zagolovok-min {
    font-size:30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom:18px;
    line-height: 34px;
}

.big_text p {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: lighter;
}

.big_text-last {
    padding:20px;
}

.footer-yellback {
    background:#fbba42;
    margin:0px;
    padding:10px 0 0;
    transition: height 1s;

}

.button-yellow {
    border: 2px white solid;
    background-color: #fbba42;
    margin: 15px 0px;
    padding: 14px 10px;
    width:170px;
}

.button-yellow:hover {
    cursor:pointer;
    background-color:#56b9d0;
}

.zagolovok3 {
    font-size:30px;
    margin: 10px 0px 4px;
    color:white;
    text-align:left;
}

.big_text-white {
    color:white;
    margin-bottom: 19px;
    text-align: left;
}

.flex-container {
    display:flex;
    justify-content: space-between;
}

.flex-container2 {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

#tabs {
    width:100%;
}

.attachment-post-thumbnail .size-post-thumbnail .wp-post-image {
    height:400px;
    background-color: green;
    color:red;
}

.flex-container2 .page-numbers a {
    display: block;
    padding: 18px 21px;
    background-color: white;
    text-decoration: none;
    font-size:13px;
    color:black;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    transition: all 0.3s ease-in-out;
}

.flex-container2 .page-numbers a:hover {
    background-color: var(--our-blue);
    color:white;
}

.flex-container2 .page-numbers a strong {
    font-size:16px;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 15px;
}

.flexer {
    display:flex;
    justify-content:space-between;
    width:100%;
}

#getmail{
    border-radius:5px;
    box-sizing: border-box;
    height:50px;
    border:none;
    flex-grow:2;
    width:137%;
    margin-bottom:0;
}

#getsend {

    border-radius:5px;
    box-sizing: border-box;
    margin-bottom: 0;
    height:50px;
    border:2px solid white;
    min-width: 154px;
    padding: 0 26px;
}

.hide {
    display:none;
}

wpcf7-validation-errors {

    position: absolute!important;
    top: 100%!important;
    margin: 0!important;
    background: white!important;
    width: 100%!important;
    border-radius: 5px!important;
    padding: 10px!important;
}



#custom_html-3>.custom-html-widget {
    background-color:#fbba42;
    box-shadow:none;
    margin-top:13px;
    padding: 0;

}

#wpcf7-f207-o2 {
    display:flex-wrap;
    justify-content: space-between;
    padding-top: 5px;
}

.footer-blackback {
    background-color: #3b3f42;
}



#media_image-2 {
    margin-top:0;
}

.column {
    flex-grow:3;
    margin-top:37px;

}

form p .your-email{
    width:1000px!important;
}

.column ul {
    list-style-type: none;
    text-align:left;
    padding-left:0;
    margin-bottom:7px;
}

.column li {
    font-size: 15px;
    color:white;
    margin:10px 20px 12px 0;
    font-weight: lighter;
    line-height: 18px;
}

.column .widgettitle {
    margin-top:0;
    font-weight:bold;
    font-size: 15px;
    color: white;
    line-height: 18px;
    margin-bottom: 12px;
    text-align: left;
}

.column li a {
    color:white;
    font-size: 15px;

    margin:10px 20px 12px 0;
    font-weight: lighter;
}

.column ul li::before, .column4 ul li:before, ul.ya-share2__list li::before, ul li#custom_html-2:before {
    display:none;
}


ul {
    list-style-type: none;
    margin:0;
    padding-left: 26px;
    margin-bottom: 35px;
}

ul li::before {
    content: '\f058';
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    left: -25px;
    top:5px;
    display: block;
    width: 12px;
    height: 12px;
    color:var(--our-blue);
    font-weight: 900;

}

.no-padding {
    padding: 0px;
}



.column-padding {
    padding-left:57px;
}

.column-padding2 {
    padding-left:16px;
}

.column li a:hover {
    color: #52b2d7;
    text-decoration: underline;
}

.column4{
    width:24%;
}

.number1-footer {

    font-size: 32px;
    font-weight: bold;
    color: white;
    padding-top: 35px;
    text-align: left;
    padding-left: 11px;
    padding-top: 46px;

}

.number1-footer a{
    color:white;
    font-size: 32px;
    width:272px;
}

.text-footer {
    color: white;
    margin-top: 14px;
    margin-left: 11px;
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    line-height: 1.7;

}

.button-footer {
    float:right;
    margin-top:0;
}



.text-footer-margin {
    margin-left: 0;
    margin-top: 27px;


}



.row p a {
    color: #52b2d7;
    text-decoration: underline;

    font-weight: lighter;
}

.text-footer-margin a{
    font-size:15px;
}

.row p a:hover {
    text-decoration: none;
}


.fab {
    margin-right:15px;
    float:left;
    width:40px;
    height:40px;
    color:white;
    background-color: transparent;
    font-size: 16px;
    padding-top:10px;
    border:2px solid white;
    border-radius: 5px;
    text-align: center;
}

 a .fab:hover {
    background-color:white;
    color:#3b3f42;
}


.fa-check-circle {
    width: 18px;
    color:#52b2d7;
    font-size:14px;
}

.fa-chevron-up{
border: 2px solid white;
    width: 69px;
    height: 40px;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
    margin-left: 20px;
}

 a .fa-chevron-up:hover{
    color:#3b3f42;
    background-color:white;
}

.fa-chevron-up::before {
    margin-left:25px;
}


.padin-top {
    padding-top: 0;
}

.container-footer-padding {
    margin-bottom: 0px;
    padding-bottom: 20px;
}



.menu-button {
    font-size:30px;
    font-weight: bold;
    padding-left:10px;
}

.point {
    padding-left:45px;
}

.flexnav {
    overflow: hidden;
}

.white {
    margin-bottom:70px;
}




  .white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* 
  
  ====== Zoom effect ======
  
  */

  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
  }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
  }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
  }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }
 .btn { 
color:#56b9d0;
font-size: 18px;
font-weight: lighter;
line-height: 1em;
text-decoration: underline;
padding-bottom:10px;
}

.btn:hover {
    cursor:pointer;
    color:black;
    text-decoration: none;
}

.bt {
    margin-top:0px;
    margin-bottom:54px;
}

.rise {
    margin-top: 12px;
}

.more {
    margin-bottom: 71px;
}

.change2 {
    margin-bottom: 14px;
}

.footer-blackback li a {
    text-decoration:none;
}

/*-------post.html------*/


.main-text-body {
    background-color: white;
    line-height: 1.5;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 0 0 40px;
}

.strichka {
    text-align: left;
    font-size: 13px;
    font-weight: lighter;
}

.strichka a {
    color:black;
    font-size: 13px;
    display:inline-block;
    margin-top: 16px;
    font-weight: lighter;
}

.mark {
text-align: center;
}

.base {
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding:2px;
    margin-bottom: 14px;
}



.fa-sort-amount-down {
    color: var(--yellow-color);
    font-size:48px;
}

ol {

    counter-reset: section;  /* Creates a new instance of the section counter with each olelement */
    padding-left: 0px;
    list-style-type: none;
    margin-top:0px;
    margin-bottom:34px;

  }
  
  td {
      border-bottom: 1px solid #dddddd;
  }

ol li::before {
    counter-increment: section;   

    content: counters(section, ".") ".";

    color: var(--bloody);
    font-weight: bold;
                                              
  }

ol li {
      line-height: 24px;
      font-weight: lighter;
      margin-bottom:24px;
  }

  .side-ef {
      width:15%;
      padding-top:81px;
  }

  .other {
      width:85%;
      line-height: 1.5em;
      border-radius: 0 5px 5px 0;
      padding:25px;
      background:white;
      padding-left: 28px;
  }

  .other h2 {
    margin-bottom: 25px;
  }
   
  .other ol {
      margin-bottom:0px;
  }


  .other ol li {
    padding-bottom: 5px;
    margin:0;
}

    .other ol li a {
        text-decoration:none;
        color:black;
    }

    .other ol li a:hover{
        text-decoration:underline;
        color: var(--our-blue);
    }


    tr>th:first-child{
        border-radius: 5px 0 0 5px;
    }
    tr>th:last-child{
        border-radius:0 5px 5px 0;
    }

.other ol li ol {
    list-style-type:none;
    margin-left:16px;
    margin-top:6px;
    line-height: 30px;
    margin-bottom:0;
}

.text.pad-top a {
    font-size: 18px;
    text-decoration: none;

}

.text.pad-top a:hover {
    text-decoration:underline;
}

  .margin-bottom-0 {
      margin-bottom:0;
  }


  .image-card {
    width: 33%;
    float: left;
    margin: 26px 33px 31px 0;
  }

  .set-new {
      padding:26px 0;

  }

  .lg-screen li:before {
      display: none;
  }

  .align-left {
      float:left;
      max-width: 270px;
      margin-right:30px;
      margin-bottom: 20px;
      background-color: var(--main-bg-color);
      border-radius:10px;
  }

  .align-right {
    float:right;
    max-width: 270px;
    margin-left:30px;
    margin-bottom: 20px;
    background-color: var(--main-bg-color);
    border-radius:10px;
  }


  figcaption {
    
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2em;
    padding-bottom: 7px;
    background-color: var(--main-bg-color);
    border-radius: 0 0 10px 10px;
  }
  


  .padding-bottom-38{
      padding-bottom: 38px;
  }

.ya-share2__list_direction_horizontal {
    display:flex;
}


.ya-share2__item{

    padding:9px;

    color:wheat;
}


.ya-share2__icon{
    padding:10px;
    margin-left: 10px;
}


.ya-share2__icon::before{
    top: 0;
    left: -26px;
    background-color: #56b9d0;
    color:white;
    padding:12px;
    border-radius: 5px 0 0 5px;
}

.ya-share2__counter {
    background-color: #51a1b4;
    padding: 11px 17px 10px;
    margin-left: 5px;
    border-radius: 0 5px 5px 0;

}


.ya-share2__item_service_twitter .ya-share2__badge .ya-share2__icon::before{
    content:'\f099';
    font-family: Font Awesome\ 5 Brands;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    border-radius:5px;
    display: block;
    font-size: 16px;
}

.ya-share2__item_service_facebook .ya-share2__badge .ya-share2__icon::before{
    content:'\f39e';
    font-family: Font Awesome\ 5 Brands;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    padding:12px 16px;
    display: block;
    font-size: 16px;
}
.ya-share2__item_service_vkontakte .ya-share2__badge .ya-share2__icon::before{
    content:'\f189';
    font-family: Font Awesome\ 5 Brands;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;

    display: block;
    font-size: 16px;
}


.ya-share2__counter{
    color:white;
}

.ya-share2__title{
    display:none;
}

ul.ya-share2__list.ya-share2__list_direction_horizontal {
    margin-bottom:1px;
}

.element-item .back {
    margin-bottom:1px;
}

.grid .element-item {
    padding-top:10px;
    padding-bottom:19px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    grid-gap: 30px;

}

.date {
    font-weight: lighter;
    font-size:13px;
    margin-top: 8px;
    margin-bottom: 34px;
}

.lifehack {
    font-size:15px;
    font-weight: lighter;
    padding-top: 8px;
    line-height: 18px;
}

.lifehack > p{
    margin-bottom: 26px;
}

.white .for-marg .lifehack > p{
    margin-bottom: 8px;
}

.white .for-marg .pad-top{
    padding-top: 18px;
}



.tick {
    margin-bottom: 30px;
}

.pad-bottom {
    padding-bottom: 51px;
}

.back .text a {
    text-decoration: none;
    font-weight: 300;
}

.back .text a:hover {
    text-decoration: underline;
}


.lifehack p {
    font-size:15px;
    font-weight: lighter;

    line-height: 1.2em;
}

.wp-caption .alignleft {
    margin: 0;
    background-color: #f2f2f2;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    padding: 12px 20px;
    border-radius: 0 0 5px 5px
}

.wp-caption .alignright {
    background-color: var(--main-bg-color);
}

.widget{
    list-style-type: none;
}

form p {
    margin-bottom:0;
}

.widget_media_image {
    margin-top: 34px;
    overflow: hidden;
}

.flex-boxing li {
    margin-bottom:0px;
}


.widget_media_image a {
    overflow: hidden;
}

.widget_media_image img {
    max-width: 100%;
    display: block;
    transition: all 0.3s;
}

.widget_media_image a:hover img {
    opacity:0.5;
    cursor:pointer;
    transform:scale(1.1);
}

a .image {
    margin:0;
}

.strichka span {
    font-size:13px;
}

.home .widget_media_image img {
    max-width: 100%;
    display: none;
    transition: all 0.3s;
}

.nav-links {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.page-numbers {
    margin: 0 7px;
    padding: 18px 21px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight:bold;
}



.current {

    display: block;
    padding-left: 21px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;

}

.page-numbers.current {
    background-color: var(--our-blue);
    color:white;
    display: block;
    padding: 18px 21px;
    text-decoration: none;

    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
}

.row.justify-content-center.gray.big_text > h2 {
    font-size: 30px;
    text-align: center;
    margin: 15px 0 18px;
    line-height: 34px;

}


