/*
Theme Name: DomP
Theme URI: http://localhost
Author: Vasiliev
Author URI: http://wordpress.org/
Description: learning theme.
Version: 0.1.0

*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 99%; /* Image does not overflow the content area */
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2em;
    padding-bottom: 7px;
    background-color: var(--main-bg-color);
    border-radius: 0 0 10px 10px;

}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
    background-color: var(--main-bg-color);
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2em;
    padding-bottom: 7px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.wp-caption p.wp-caption-text {
    font-size: 15px;
    line-height: 1.2em;
    margin: 0;
    padding: 12px 20px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

